// configuration file for scss
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

$font-color: #e5e4ee;
$bg-color: #0b0961;
$font-stack: 'Roboto', sans-serif;
$btn-color: #4db607;
$btn-color-hover: #0d6268;
$btn-font-hover-color: #fff;
$btn-transform: scale(1.1);
$nav-color: #470303;
$nav-font-colors: #fff;

